@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.postButton {
  text-align: center;
  margin: 25px auto;
  width: 150px;
  height: 25px;
  border: 1px solid rgb(241, 241, 241);
  font-size: 0.8rem;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}
.characterCard {
  text-align: center;
  margin: 5%;
  width: 30%;
}

.search {
  margin-left: 30%;
}
.grid {
  margin-left: 36%;
}

.home-page h1 {
  text-align: center;
}

.regFormStyles {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.regFormStyles label {
  padding: 0 35px 0 0;
}

.titleStyles {
  border: none;
  background: rgb(222, 226, 236);
  width: 500px;
  height: 50px;
  font-size: 1.5rem;
  font-style: bold;
  margin: 25px 0;
}

.titleStyles2 {
  border: none;
  background: rgb(241, 241, 241);
  width: 500px;
  height: 50px;
  font-size: 1.5rem;
  font-style: bold;
  margin: 25px 0;
}

.column {
  margin-left: 4%;
}
.card {
  padding-left: 30%;
}